/*

  BUTTONS

  Classes for building on-brand, consistent buttons.

*/

[class^="k--btn"] {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: -.02em;
  line-height: 1.5;
  padding: .5rem 1rem;
  text-align: center;
  transition: all .15s ease-in-out;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
}

.k--btn-sm {
  font-size: .75rem;
  padding: .25rem .5rem;
}

.k--btn-lg {
  font-size: 1rem;
  line-height: 1;
  padding: 1rem 2rem;
}

.k--btn {
  background-color: var(--white);
  color: var(--dark-gray);
  border-color: var(--moon-gray);
  &:hover, &:active, &.k--active {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    opacity: 1;
  }
  &:focus {
    box-shadow: 0 0 0 0.125rem var(--focus-primary);
    outline: none;
    border-color: var(--primary);
  }
}

.k--btn-primary {
  background-color: var(--primary);
  color: var(--white);
  &:hover, &:active, &.k--active {
    color: var(--white);
    opacity: 0.8;
  }
  &:focus {
    border-color: var(--dark-blue);
    box-shadow: 0 0 0 0.125rem var(--focus-primary);
    outline: none;
  }
}

.k--btn-secondary {
  border-color: var(--primary);
  color: var(--primary);
  &:hover, &:active, &.k--active {
    background-color: var(--washed-primary);
    color: var(--primary);
    opacity: 1;
  }
  &:focus {
    box-shadow: 0 0 0 0.125rem var(--focus-primary);
    outline: none;
  }
}

.k--btn-link {
  border-color: transparent;
  color: var(--primary);
  &:hover, &:active, &.k--active {
    background-color: var(--washed-primary);
    color: var(--primary);
    opacity: 1;
  }
  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.125rem var(--focus-primary);
    outline: none;
  }
}

.k--btn-warning {
  border-color: var(--warning);
  color: var(--warning);
  &:hover, &:active, &.k--active {
    background-color: var(--washed-warning);
    color: var(--warning);
    opacity: 1;
  }
  &:focus {
    box-shadow: 0 0 0 0.125rem var(--focus-warning);
    outline: none;
  }
}

.k--btn-danger {
  border-color: var(--danger);
  color: var(--danger);
  &:hover, &:active, &.k--active {
    background-color: var(--washed-danger);
    color: var(--danger);
    opacity: 1;
  }
  &:focus {
    box-shadow: 0 0 0 0.125rem var(--focus-danger);
    outline: none;
  }
}

[class^="k--btn"].k--disabled,
[class^="k--btn"].k--disabled:hover,
[class^="k--btn"].k--disabled:focus,
[class^="k--btn"][disabled],
[class^="k--btn"][disabled]:hover,
[class^="k--btn"][disabled]:focus {
  background-color: var(--near-white);
  box-shadow: none;
  border-color: var(--light-gray);
  color: var(--moon-gray);
  cursor: not-allowed;
  opacity: 1;
}
