/*

  FORMS

  Classes for building on-brand, consistent forms.

*/

[class^="k--label"] {
  display: block;
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.k--input, .k--select {
  background-image: none;
  background-clip: padding-box;
  background-color: var(--white);
  border: 1px solid var(--moon-gray);
  border-radius: .25rem;
  color: var(--gray);
  display: block;
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 200;
  letter-spacing: -.02em;
  line-height: 1.5;
  padding: .5rem .75rem;
  transition: all .15s ease-in-out;
  width: 100%;
}

.k--input:disabled, .k--select:disabled {
  background-color: var(--near-white);
  border-color: var(--light-gray);
  color: var(--moon-gray);
  cursor: not-allowed;
}

.k--input[readonly] {
  background-color: var(--near-white);
  border-color: var(--light-gray);
  &:focus {
    border-color: var(--read-only);
    box-shadow: 0 0 0 0.125rem var(--focus-read-only);
    background-color: var(--washed-read-only);
  }
}

.k--form-help {
  color: var(--silver);
  display: block;
  font-size: .75rem;
  margin: .5rem 0;
}

select.k--input, .k--select {
  cursor: pointer;
  height: calc(1.5 * 0.875rem + 1rem + 2px);
}

.k--input::placeholder {
  color: var(--moon-gray);
}

.k--input:focus, .k--select:focus {
  background-color: var(--white);
  border-color: var(--blue);
  outline: none;
  box-shadow: 0 0 0 0.125rem rgba(5, 176, 235, 0.3);
}

.k--label-radio, .k--label-checkbox {
  cursor: pointer;
  color: var(--gray);
  font-weight: 200;
  padding-left: 1.25rem;
}

.k--label-radio input, .k--label-checkbox input {
  cursor: pointer;
  margin-left: -1.25rem;
  margin-right: .25rem;
}

.k--label-radio.k--disabled, .k--label-checkbox.k--disabled {
  color: var(--moon-gray);
  cursor: not-allowed;
  & input {
    cursor: not-allowed;
  }
}
