.k--modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.k--modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--black-80);
}

.k--modal-content {
  position: absolute;
  background-color: var(--white);
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 )
}
