:root {
  --button-base: {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    transition: background-color .15s, color .15s;
  }

  --white-text-button-base {
    @apply --button-base;
    color: var(--white);
  }

  --blue-text-button-base {
    @apply --button-base;
    color: var(--blue);
  }

  --black-text-button-base {
    @apply --button-base;
    color: var(--near-black);
  }

  --disabled-button-base {
    background-color: var(--black-10);
    color: var(--black-30);
  }
}

.k--button-black {
  @apply --white-text-button-base;
  background-color: var(--black);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-dark-gray {
  @apply --white-text-button-base;
  background-color: var(--gray);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-light-gray {
  @apply --black-text-button-base;
  background-color: var(--light-gray);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-white {
  @apply --blue-text-button-base;
  background-color: var(--white);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-red {
  @apply --white-text-button-base;
  background-color: var(--red);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-orange {
  @apply --white-text-button-base;
  background-color: var(--orange);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-yellow {
  @apply --black-text-button-base;
  background-color: var(--yellow);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-purple {
  @apply --white-text-button-base;
  background-color: var(--purple);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-pink {
  @apply --white-text-button-base;
  background-color: var(--pink);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-green {
  @apply --white-text-button-base;
  background-color: var(--green);
  &:disabled {
    @apply --disabled-button-base;
  }
}

.k--button-blue {
  @apply --white-text-button-base;
  background-color: var(--blue);
  &:disabled {
    @apply --disabled-button-base;
  }
}
