:root {
}

html {
  line-height: 1.5; /* .lh-copy */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-gray);
  font-weight: 400;
  line-height: 1.25; /* .lh-title */
  margin: 0.75em 0;
}

h1 { font-size: 3rem;    } /* .f1 */
h2 { font-size: 2.25rem; } /* .f2 */
h3 { font-size: 1.5rem;  } /* .f3 */
h4 { font-size: 1.25rem; } /* .f4 */
h5 { font-size: 1rem;    } /* .f5 */
h6 { font-size: .875rem; } /* .f6 */

p {
  /*color: var(--gray);*/
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid var(--light-gray);
  margin: 2rem 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--dark-gray);
}

code {
  background-color: var(--black-10);
  padding: .125rem .25rem;
  font-size: .875em;
  border-radius: .125rem;
}
/*

  FORMATTING

*/

abbr {} /* Defines an abbreviation or an acronym */
address {} /* Defines contact information for the author/owner of a document/article */
b {} /* Defines bold text */
blockquote {} /* Defines a section that is quoted from another source */
cite {} /* Defines the title of a work */



del {} /* Defines text that has been deleted from a document */
dfn {} /* Represents the defining instance of a term */
em {} /* Defines emphasized text */
i {} /* Defines a part of text in an alternate voice or mood */
ins {} /* Defines text that has been inserted into a document */
kbd {} /* Defines keyboard input */
mark {} /* Defines marked/highlighted text */
meter {} /* Defines a scalar measurement within a known range (a gauge) */
pre {} /* Defines preformatted text */
progress {} /* Represents the progress of a task */
q {} /* Defines a short quotation */
s {} /* Defines text that is no longer correct */
samp {} /* Defines sample output from a computer program */
small {} /* Defines smaller text */
strong {} /* Defines important text */
sub {} /* Defines subscripted text */
sup {} /* Defines superscripted text */
time {} /* Defines a date/time */
u {} /* Defines text that should be stylistically different from normal text */
var {} /* Defines a variable */
wbr {} /* Defines a possible line-break */


/*

  FORMS AND INPUTS

*/

Forms and Inputs
form {} /* Defines an HTML form for user input */
input {} /* Defines an input control */
textarea {} /* Defines a multiline input control (text area) */
button {} /* Defines a clickable button */
select {} /* Defines a drop-down list */
optgroup {} /* Defines a group of related options in a drop-down list */
option {} /* Defines an option in a drop-down list */
label {} /* Defines a label for an <input> element */
fieldset {} /* Groups related elements in a form */
legend {} /* Defines a caption for a <fieldset> element */
datalist {} /* Specifies a list of pre-defined options for input controls */
keygen {} /* Defines a key-pair generator field (for forms) */
output {} /* Defines the result of a calculation */

/*

Frames

*/

iframe {} /* Defines an inline frame */

/*

  IMAGES

*/

img {} /* Defines an image */
map {} /* Defines a client-side image-map */
area {} /* Defines an area inside an image-map */
canvas {} /* Used to draw graphics, on the fly, via scripting (usually JavaScript) */
figcaption {} /* Defines a caption for a <figure> element */
figure {} /* Specifies self-contained content */
picture {} /* Defines a container for multiple image resources */

/*

  AUDIO / VIDEO

*/

audio {} /* Defines sound content */
source {} /* Defines multiple media resources for media elements (<video>, <audio> and <picture>) */
track {} /* Defines text tracks for media elements (<video> and <audio>) */
video {} /* Defines a video or movie */


/*

  LISTS

*/

ul {} /* Defines an unordered list */
ol {} /* Defines an ordered list */
li {} /* Defines a list item */
dl {} /* Defines a description list */
dt {} /* Defines a term/name in a description list */
dd {} /* Defines a description of a term/name in a description list */
menu {} /* Defines a list/menu of commands */
menuitem {} /* Defines a command/menu item that the user can invoke from a popup menu */

/*

  TABLES

*/

table {} /* Defines a table */
caption {} /* Defines a table caption */
th {} /* Defines a header cell in a table */
tr {} /* Defines a row in a table */
td {} /* Defines a cell in a table */
thead {} /* Groups the header content in a table */
tbody {} /* Groups the body content in a table */
tfoot {} /* Groups the footer content in a table */
col {} /* Specifies column properties for each column within a <colgroup> element */
colgroup {} /* Specifies a group of one or more columns in a table for formatting */

/*

  STYLE

*/

details {} /* Defines additional details that the user can view or hide */
dialog {} /* Defines a dialog box or window */
summary {} /* Defines a visible heading for a <details> element */
data {} /* Links the given content with a machine-readable translation */
