/*

  VALIDATION STYLES

  see tachyons/_custom-colors.css for variables.

*/

.k--primary { color: var(--primary); }
.k--success { color: var(--success); }
.k--warning { color: var(--warning); }
.k--danger  { color: var(--danger); }

.k--bg-primary { background-color: var(--primary); }
.k--bg-success { background-color: var(--success); }
.k--bg-warning { background-color: var(--warning); }
.k--bg-danger  { background-color: var(--danger); }

.k--b--primary { border-color: var(--primary); }
.k--b--success { border-color: var(--success); }
.k--b--warning { border-color: var(--warning); }
.k--b--danger  { border-color: var(--danger); }

.k--focus-primary {
  border-color: var(--primary);
  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 .125rem var(--focus-primary);
    outline: none;
  }
}

.k--focus-success {
  border-color: var(--success);
  &:focus {
    border-color: var(--success);
    box-shadow: 0 0 0 .125rem var(--focus-success);
    outline: none;
  }
}

.k--focus-warning {
  border-color: var(--warning);
  &:focus {
    border-color: var(--warning);
    box-shadow: 0 0 0 .125rem var(--focus-warning);
    outline: none;
  }
}

.k--focus-danger {
  border-color: var(--danger);
  &:focus {
    border-color: var(--danger);
    box-shadow: 0 0 0 .125rem var(--focus-danger);
    outline: none;
  }
}

.k--focus-read-only {
  border-color: var(--read-only);
  &:focus {
    border-color: var(--read-only);
    box-shadow: 0 0 0 .125rem var(--focus-read-only);
    outline: none;
  }
}
