.maa { margin: auto; }
.mla { margin-left: auto; }
.mra { margin-left: auto; }
.mta { margin-top: auto; }
.mba { margin-bottom: auto; }
.mha {
  margin-left: auto;
  margin-right: auto;
}
.mva {
  margin-top: auto;
  margin-bottom: auto;
}

@media(--breakpoint-not-small) {
  .maa-ns { margin: auto; }
  .mla-ns { margin-left: auto; }
  .mra-ns { margin-left: auto; }
  .mta-ns { margin-top: auto; }
  .mba-ns { margin-bottom: auto; }
  .mha-ns {
    margin-left: auto;
    margin-right: auto;
  }
  .mva-ns {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media(--breakpoint-medium) {
  .maa-m { margin: auto; }
  .mla-m { margin-left: auto; }
  .mra-m { margin-left: auto; }
  .mta-m { margin-top: auto; }
  .mba-m { margin-bottom: auto; }
  .mha-m {
    margin-left: auto;
    margin-right: auto;
  }
  .mva-m {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media(--breakpoint-large) {
  .maa-l { margin: auto; }
  .mla-l { margin-left: auto; }
  .mra-l { margin-left: auto; }
  .mta-l { margin-top: auto; }
  .mba-l { margin-bottom: auto; }
  .mha-l {
    margin-left: auto;
    margin-right: auto;
  }
  .mva-l {
    margin-top: auto;
    margin-bottom: auto;
  }
}
