/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/

:root {
  --black:        hsl(220,20%,4%);
  --near-black:   hsl(220,20%,14%);
  --dark-gray:    #5f5f5f;
  --mid-gray:     #a3a3a3;
  --gray:         #e8e8e8;
  --silver:       hsl(220,20%,60%);
  --light-silver: hsl(220,20%,67%);
  --moon-gray:    hsl(220,20%,80%);
  --light-gray:   #f4f4f4;
  --near-white:   hsl(220,20%,96%);
  --white: #fff;


/*from chrome dev tools (material grayscale)*/
  /*--black:        #263238;
  --near-black:   #37474f;
  --dark-gray:    #455a64;
  --mid-gray:     #546e7a;
  --gray:         #607d8b;
  --silver:       #78909c;
  --light-silver: #90a4ae;
  --moon-gray:    #b0bec5;
  --light-gray:   #cfd8dc;
  --near-white:   #eceff1;
  --white: #fff;*/
/* HSL conversion */

  /*--black:        hsl(200, 19%, 18%);
  --near-black:   hsl(200, 17%, 26%);
  --dark-gray:    hsl(197, 17%, 32%);
  --mid-gray:     hsl(198, 18%, 40%);
  --gray:         hsl(199, 18%, 46%);
  --silver:       hsl(200, 15%, 54%);
  --light-silver: hsl(198, 15%, 62%);
  --moon-gray:    hsl(200, 15%, 73%);
  --light-gray:   hsl(197, 17%, 83%);
  --near-white:   hsl(204, 15%, 93%);
  --white: #fff;*/

  --transparent:transparent;

 --black-90:   hsla(220,100%,4%,.9);
 --black-80:   hsla(220,100%,4%,.8);
 --black-70:   hsla(220,100%,4%,.7);
 --black-60:   hsla(220,100%,4%,.6);
 --black-50:   hsla(220,100%,4%,.5);
 --black-40:   hsla(220,100%,4%,.4);
 --black-30:   hsla(220,100%,4%,.3);
 --black-20:   hsla(220,100%,4%,.2);
 --black-10:   hsla(220,100%,4%,.1);
 --black-05:   hsla(220,100%,4%,.05);
 --black-025:  hsla(220,100%,4%,.025);
 --black-0125: hsla(220,100%,4%,.0125);

 --white-90:   rgba(255,255,255,.9);
 --white-80:   rgba(255,255,255,.8);
 --white-70:   rgba(255,255,255,.7);
 --white-60:   rgba(255,255,255,.6);
 --white-50:   rgba(255,255,255,.5);
 --white-40:   rgba(255,255,255,.4);
 --white-30:   rgba(255,255,255,.3);
 --white-20:   rgba(255,255,255,.2);
 --white-10:   rgba(255,255,255,.1);
 --white-05:   rgba(255,255,255,.05);
 --white-025:  rgba(255,255,255,.025);
 --white-0125: rgba(255,255,255,.0125);

  --dark-red:  #e7040f;
  --red:  #cf625b;
  --light-red:  #ff725c;
  --orange:  #ff6300;
  --gold:  #ffaf00;
  --yellow:  #ffb244;
  --light-yellow:  #fbf1a9;
  --purple:  #676ee4;
  --light-purple:  #a463f2;
  --dark-pink:  #d5008f;
  --hot-pink: #ff41b4;
  --pink:  #ff80cc;
  --light-pink:  #ffa3d7;
  --dark-green:  #137752;
  --green:  #71b157;
  /*--green:  #5ac846;*/
  --light-green:  #8cc823;
  /*--navy:  #32325d;*/
  --dark-blue:  #00449e;
  --blue:  #0082ca;
  /*--blue:  hsl(208, 100%, 50%);*/
  /*--blue:  hsl(200, 100%, 50%);*/
  /*--blue:  hsl(219, 95%,  59%);*/
  /*--blue:  hsl(230, 90%,  64%);*/
  --light-blue:  #66b4df;
  --lightest-blue:  #cce6f4;
  --washed-blue:  #33abba;
  --washed-green:  #e8fdf5;
  --washed-yellow:  #fffceb;
  --washed-red:  #ffdfdf;

}
